
* ::before ::after {
  margin: 0;
  box-sizing: border-box;
}

:root { 
  background-color: #fcfcfc;
}

body {
  background-color:#fcfcfc;
  font-family: 'Raleway', sans-serif;
}


#form1{
    height: auto;
    margin-bottom: 6rem;
}

.header-title {
  margin: 2rem auto;
  text-align: center;
  font-weight: 700;
  color: #31175a;
}

#contenido1 {
  float: left;
  width: 50%;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#contenido2 {
  float: right;
  width: 50%;
  height: 432px;
  padding-top: 75px;
}

#container1{
  display: table;
  height: 100px;
  width: 100%;
  text-align:center;
}

#btnForm{
  vertical-align: middle;
  display: table-cell;
}
