<style>
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
</style> 

* ::before ::after {
  margin: 0;
  box-sizing: border-box;
}

:root { 
  background-color: #fcfcfc;
}

body {
  background-color:#fcfcfc;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.topheader {
  height: 150vh;
  background-image: url("../img/IndexBanner3.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* BARRA NAV-HEADER */
nav {
  align-items: center;
  margin: auto;
  justify-content: center;
}

nav .logo {
    padding: 1rem;
    width: 45%;
    margin-right: 6rem;
}

nav .nav__items {
    padding: 1rem 2rem;
    display: flex;    
    font-size: 11pt;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
}

nav .nav__items a {
  color: #fcfcfc;
  text-decoration: none;
}

nav .nav__items a:hover {
    padding: 5px;
    transition: all 0.3s linear; 
    border-radius: 5px;  
    background: #6930C3;
}
/* FIN BARRA NAV-HEADER*/


/* TÍTULO + TEXTO INTRODUCTORIO */
.topheader-container {
  width: 55%;
  text-align: center;
  margin: auto;
  margin-top: 4rem;
}

.topheader-title{
  color: #fbfbfb;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
}

.topheader-texts{
  color: #fbfbfb;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0px 6px 6px 0px #00000040;
  ;
}


/* MODALS + CARRUSEL */
/*
.container .contenedor{
  min-height: 100%;
  padding-bottom: 70px;
}

#carrusel{
  height: 350px;
  width: 100%;
  margin-top: 30px;
  background-color: chartreuse;
  margin-block-start: auto;
}



*/