#form1{
  background-color: rgb(215, 245, 250);
    height: auto;
    margin-bottom: 10rem;
}
#contenido1 {
  float: left;
  width: 50%;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#contenido2 {
  float: right;
  width: 50%;
  height: 432px;
  padding-top: 75px;
}

#container1{
  display: table;
  height: 100px;
  width: 100%;
  text-align:center;
}

#btnForm{
  vertical-align: middle;
  display: table-cell;
}
