
* ::before ::after {
  margin: 0;
  box-sizing: border-box;
}

:root { 
  background-color: #fcfcfc;
}

body {
  background-color:#fcfcfc;
  font-family: 'Raleway', sans-serif;
}

.nav-container {
  width: 90%;
  margin: 0 auto;
}

.topheader {
  height: 150vh;
  background-image: url("../img/IndexBanner3.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* BARRA NAV-HEADER */
nav {
  align-items: center;
  margin: auto;
  justify-content: center;
}

nav .logo {
    padding: 1rem;
    width: 45%;
    margin-right: 6rem;
}

nav .nav__items {
    padding: 1rem 2rem;
    display: flex;    
    font-size: 11pt;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
}

nav .nav__items a {
  color: #fcfcfc;
  text-decoration: none;
  font-weight: bold;
}

nav .nav__items a:hover {
    padding: 5px;
    transition: all 0.3s linear; 
    border-radius: 5px;  
    background: #6930C3;
}
/* FIN BARRA NAV-HEADER*/


/* TÍTULO + TEXTO INTRODUCTORIO */
.topheader-container {
  width: 55%;
  text-align: center;
  margin: auto;
  margin-top: 4rem;
}

.topheader-title{
  color: #fbfbfb;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
}

.topheader-texts{
  color: #fbfbfb;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0px 6px 6px 0px #00000040;
  ;
}

#carouselExampleFade{
  height: auto;
  width: 440px;
  margin: 50px auto;
  overflow: hidden;
}


/* MODALS */

.container {
  min-height: 100%;
  

}

.buttom-mod-container {
  position: relative;
  background-color: none;
  margin: 1rem;
  
}

.btn-primary {
  background: #6930C3;
  padding: 1rem;
  width: 15rem;
  
}

.btn-primary :hover {
  color: #6930C3;
  background: #E0E0E0;
}

d-grid gap-2 col-3 mx-auto


*/