
* ::before ::after {
  margin: 0;
  box-sizing: border-box;
}

.footer-body {
  width: 100%;
  height: auto;
  font-family: 'Raleway', sans-serif;
  padding: 2rem;
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(top, #fcfcfc, #D5D5D5);
  background-image: -o-linear-gradient(top, #fcfcfc, #D5D5D5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #D5D5D5));
  background-image: -webkit-linear-gradient(#fcfcfc, #D5D5D5);
  background-image: linear-gradient(top, #fcfcfc, #D5D5D5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', endColorStr='#D5D5D5');
}

.text-body p {
  text-align: center;
  color: #6930C3;
}

.whatsapp {
  width: 22px;
}

.email {
  width: 22px;
}

.img-logo{
  background-image: url(/img/ManageTruck_logo-Violeta.png);
  background-size: 30%;
  background-repeat: no-repeat;
  width: 35%;
}

.permiss {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  color: #afafaf;
  margin-top: 0.2rem;
}

.facebook {
  width: 23px;
}

.instagram {
  width: 23px;
}

.twitter {
  width: 23px;
}


