* ::before ::after {
  margin: 0;
  box-sizing: border-box;
}

:root { 
  background-color: #fcfcfc;
}

body {
  background-color:#fcfcfc;
  font-family: 'Raleway', sans-serif;
}

.form-viaje {
  margin: 0 auto;
}

.top-titulo h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #31175a;
  margin: 5rem auto 1rem 11rem;
  text-align: left;
}

.imagen-ilustrativa img{
  width: 800px;
}

.NuevaCarga{
  margin-left: 10rem;
  margin-bottom: 7rem;
  padding: 1.5rem;
  height: 400px;
}

.form-control-in{
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 70%;
  height: 35px;
}

.cargaDiv select {
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 300px;
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 70%;
}

.cargaDiv1 input{
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 300px;
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 70%;
  padding: 15px;
}

.cargaDiv2 input{
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 300px;
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 70%;
  padding: 15px;
}


.btn-viaje {
  color: #fcfcfc;
  background: #6930C3;
  font-weight: 500;
  font-size: 15px;
  padding: 0.5rem;
  width: 6rem;
  box-shadow: 0px 4px 4px rgba(31, 31, 31, 0.25);
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  border-color: #6930C3;
  overflow: hidden;
  cursor: pointer;

}

.btn-viaje:hover {
  color: #6930C3;
  background: #FCFCFC;
  border-width: 0.2rem;
  border-color: #6930C3;
}

  .btn-viaje:active {
    background-color: #06b;
  }
