body{
    align-items: center;
    background-color: #fcfcfc;

    justify-content: left;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.nav-container {
  width: 90%;
  margin: 0 auto;
}



/* BARRA NAV-HEADER */
nav {
  align-items: center;
  margin: auto;
  justify-content: center;
}

nav .logo {
    padding: 1rem;
    width: 45%;
    margin-right: 6rem;
}

nav .nav__items {
    padding: 1.3rem;
    display: flex;    
    font-size: 11pt;
    font-style: italic;
    font-weight: 500;
    display: inline-block;
}

nav .nav__items a {
  color: #fcfcfc;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  transition: all 0.10s linear; 
  border-radius: 5px;  
}

nav .nav__items a:hover {
    background: #6930C3;
}

.top-titulo{
  background-color: #fcfcfc;
  text-align: center;
  font-weight: 700;
  position: relative; 
  color:#31175a;
  margin: 0rem 0rem 5rem;
}

form{
    background-color: #fcfcfc;
    border-radius: 20px;
    height: 300px;
    padding: 20px;
    width: 300px;
  }

  .cargaDiv select {
    margin: 1rem;
    height: 2rem;
    width: 185px;
  }

.cargaDiv1{
    margin: 0rem 1rem 1rem;
    height: 2rem;
    width: 185px;
    
}

.cargaDiv2{
    margin: 0rem 1rem 1rem;
    height: 2rem;
    width: 185px;
}


.cargaButton {
    color: #fcfcfc;
    background: #6930C3;
    box-shadow: 0px 4px 4px rgba(31, 31, 31, 0.25);
    border-radius: 10px;
    border-color: #6930C3;
    overflow: hidden;
    cursor: pointer;
    margin: 0rem 1rem;
  }
  .cargaButton:hover {
    color: #6930C3;
    background: #FCFCFC;
    border-width: 0.2rem;
    border-color: #6930C3;
  }

  .cargaButton:active {
    background-color: #06b;
  }
