body {
  background-color: #fcfcfc;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}

/* BUTTONS */
.buttom-mod-container {
  position: relative;
  background-color: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn-primary {
  color: #fcfcfc;
  padding-top: 50px;
  background: #6930c3;
  font-weight: 400;
  padding: 0.5rem;
  width: 11rem;
  border-radius: 10px;
  border-color: #6930c3;
  overflow: hidden;
  cursor: pointer;
}

.btn-primary:hover {
  color: #6930c3;
  background: #fcfcfc;
  border-width: 0.2rem;
  border-color: #6930c3;
}

.estrella {
  color: #e49a00;
  border: 1px;
  border-color: black;
}

.estrella2 {
  color: #e49a00;
}

ul,
li {
  margin: 5px;
  list-style-type: none;
}

h5{
  color: #31175a;;
}
p {
  margin-bottom: 2px;
  color: #31175a;
}

.btn-sm {
  box-shadow: 0px 4px 4px rgba(31, 31, 31, 0.25);
}

.btn-mas{
  background-color: #31175a;
  font-size: 13px;
  font-weight: 500;
  width: 6rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* FONDO CARDS DESTACADAS */
.favs-conteiner {
  margin: 3rem auto 2rem auto;
  width: 80%;
  background: linear-gradient(48deg, rgba(154,50,210,1) 0%, rgba(119,51,208,1) 50%, rgba(102,23,218,1) 100%);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(120, 23, 218, 0.40);

}

.favs {
  padding: 2rem;
}

.card-group-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.card-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagen {
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.cont-oculto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
 }
.short { width: 200px; }

.textTitle {
  color: #fcfcfc;
  text-align: center;
  font-size: 33px;
  font-weight: 700;
  margin-top:2rem;
  text-shadow: 0px 6px 6px 0px #00000040;
}

.fav-text {
  margin: 0 auto;
  text-align: center;
  width: 900px;
  padding: 0.5rem;
  color: #fcfcfc;  
  font-size: 20px;
  font-weight: 400;
  text-shadow: 0px 6px 6px 0px #00000040;
  margin-bottom: 2rem;
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 1px 1px 8px 3px rgba(13, 1, 24, 0.2), 
    -1px -1px 8px 3px rgba(13, 1, 24, 0.2);
}

/* ESTRELLAS */
.clasificacion label {
  align-items: left;
  font-size: 20px;
  color: rgb(150, 150, 150);
  cursor: pointer;
}

.clasificacion input[type="radio"] {
  opacity: 0;
  display: none;
}

.clasificacion {
  margin-right: 4rem;
  margin-top: 1rem;
  unicode-bidi: bidi-override; /* bidi de bidireccional */
  direction: rtl; /* right to left */
}

.clasificacion label:hover {
  color: #f9d71c;
}

.clasificacion label:hover ~ label {
  color: #f9d71c;
}

.input[type="radio"]:checked ~ label {
  color: #f9d71c;
}

/* PROPIEDAD PARA DESTACAR INFO CUANDO SELECCIONAS CON EL CURSOR */
::selection {
  color: white;
  background-color: #032144f6;
}
