
* ::before ::after {
    margin: 0;
    box-sizing: border-box;
  }
  
  :root { 
    background-color: #fcfcfc;
  }
  
  body {
    background-color:#fcfcfc;
    font-family: 'Raleway', sans-serif;
  }

  .checkregister {
    padding: 3rem;
    margin: 7rem auto;
    background-color:#6930C3;
    width: 50%;
    height: auto;
    max-height: 260px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .btn-primary {
    color: #6930C3;
    margin: 0 auto 0;
    background: #fcfcfc;
    font-weight: 400;
    padding: 0.5rem;
    width: 13rem;
    box-shadow: 0px 4px 4px rgba(31, 31, 31, 0.25);
    border-radius: 10px;
    border-color: #fcfcfc;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    color: #fcfcfc;
    background: #6930C3;
    border-width: 0.2rem;
    border-color: #fcfcfc;
  }

  .text-body {
      text-align: center;
  }

  .body-title {
      color: #fcfcfc;
      font-weight: 700;
      font-size: 35px;
  }

  .p-text {
    color: #fcfcfc;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 3rem;
  }




  