body{
    background: linear-gradient(180deg, #6930C3 0%, rgba(230,230,230,1) 35%, rgba(252,252,252,1) 100%);
    background-color: #fcfcfc;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
  }
  
  /* BUTTONS */
  .buttom-mod-container {
    position: relative;
    background-color: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    color: #fcfcfc;
    background: #6930C3;
    font-weight: 400;
    padding: 0.5rem;
    width: 13rem;
    box-shadow: 0px 4px 4px rgba(31, 31, 31, 0.25);
    border-radius: 10px;
    border-color: #6930C3;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    color: #6930C3;
    background: #FCFCFC;
    border-width: 0.2rem;
    border-color: #6930C3;
  }