body{
  background-color: #fcfcfc;
  font-family: 'Raleway', sans-serif;
}

input[type=checkbox].toggle{
  display: none;
}

input[type=checkbox].toggle + label{
  display: inline-block;
  height: 55px;
  width: 200px;
  position: relative;
  font-size: 20px;
  border: 2px solid black;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

input[type=checkbox].toggle + label:before{
  position: absolute;
  top: 3px;
  height: 44px;
  width: 44px;
  content: '';
  transition: all 0.5s ease;
  z-index: 3;
}

input[type=checkbox].toggle + label:after{
  width: 140px;
  text-align: center;
  z-index: 2;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

input[type=checkbox].toggle + label.rounded{
  border-radius: 30px;
}

input[type=checkbox].toggle + label.rounded:before{
  border-radius: 50%;
}

input[type=checkbox].toggle:not(checked) + label{
  background-color: transparent;
  text-align: right;
}

input[type=checkbox].toggle:not(checked) + label:after{
  content: attr(data-unchecked);
  right: 0;
  left: auto;
  opacity: 1;
  color: rgb(15, 5, 5);
}

input[type=checkbox].toggle:not(checked) + label:before{
  left: 4px;
  background-color: rgb(230, 75, 75);
}

input[type=checkbox].toggle:checked + label{
  text-align: left;
  border-color: rgb(34, 92, 179);
}

input[type=checkbox].toggle:checked + label:after{
  content: attr(data-checked);
  left: 4px;
  right: auto;
  opacity: 1;
  color: rgb(10, 23, 143);
}

input[type=checkbox].toggle:checked + label:before{
  left: 144px;
  background-color: rgb(77, 172, 228);
}