body{
  background-color: #fcfcfc;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
}

/* BUTTONS */
.buttom-mod-container {
  position: relative;
  background-color: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn-primary {
  color: #fcfcfc;
  background: #6930C3;
  font-weight: 400;
  padding: 0.5rem;
  width: 13rem;
  box-shadow: 0px 4px 4px rgba(31, 31, 31, 0.25);
  border-radius: 10px;
  border-color: #6930C3;
  overflow: hidden;
  cursor: pointer;
}

.btn-primary:hover {
  color: #6930C3;
  background: #FCFCFC;
  border-width: 0.2rem;
  border-color: #6930C3;
}

input[type=checkbox].toggle{
  display: none;
}

input[type=checkbox].toggle + label{
  display: inline-block;
  height: 55px;
  width: 200px;
  position: relative;
  font-size: 20px;
  border: 2px solid black;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

input[type=checkbox].toggle + label:before{
  position: absolute;
  top: 3px;
  height: 44px;
  width: 44px;
  content: '';
  transition: all 0.5s ease;
  z-index: 3;
}

input[type=checkbox].toggle + label:after{
  width: 140px;
  text-align: center;
  z-index: 2;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

input[type=checkbox].toggle + label.rounded{
  border-radius: 30px;
}

input[type=checkbox].toggle + label.rounded:before{
  border-radius: 50%;
}

input[type=checkbox].toggle:not(checked) + label{
  background-color: transparent;
  text-align: right;
}

input[type=checkbox].toggle:not(checked) + label:after{
  content: attr(data-unchecked);
  right: 0;
  left: auto;
  opacity: 1;
  color: rgb(15, 5, 5);
}

input[type=checkbox].toggle:not(checked) + label:before{
  left: 4px;
  background-color: rgb(230, 75, 75);
}

input[type=checkbox].toggle:checked + label{
  text-align: left;
  border-color: rgb(34, 92, 179);
}

input[type=checkbox].toggle:checked + label:after{
  content: attr(data-checked);
  left: 4px;
  right: auto;
  opacity: 1;
  color: rgb(10, 23, 143);
}

input[type=checkbox].toggle:checked + label:before{
  left: 144px;
  background-color: rgb(77, 172, 228);
}
/*FLEXBOX
.contenedor{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 20px;
  background-color: cadetblue;
}

.contenedor-fotos{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 550px;
  margin-bottom: 10px;
  background-color: darkcyan;
}*/

.foto{
  margin-bottom: 10px;
  object-fit: fill;
}

.contenedor-texto{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

/*GRID*/
.contenedor{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 48px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: cornflowerblue;
  gap: 20px;
}

.contenedor-fotos{
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

.contenedor-texto input{
  width: 400px;
  margin-bottom: 20px;
}