body{
    background-color: #fcfcfc;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
  }
  
main {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 0 auto;
  background-image: url(../img/Filtro\ violeta.png);
  background-repeat: no-repeat;
  background-size: 2000px;
  background-position: bottom;
}

.container-img {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.perfil-img {
  max-width: 700px;
}

.form {
  margin: 0 auto;
  background-color: #fcfcfc;
  border-radius: 15px;
  width: 70%;
  padding: 30px;
}

.form input {
  color: #31175a;
  outline: none;
  background-color: #fcfcfc;
  border: 0;
  height: 40px;
}

.form select {
  color: #31175a;
  outline: none;
  background-color: #fcfcfc;
  border: 0;
}

.us-2 input {
  height: 50px;
}

.usuario {
  display:flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  max-width: 400px;
}

.usuario div {
  margin: 0 5px;
}

.user {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

.empresa-in {
  margin: 0 auto;
  margin-bottom: 3rem;
  max-width: 320px;
}

.empresa-in input {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.datos-user {
  width: 80%;
  margin: 0 auto;
}


  /* ///////////////////////////////////////// */
  /* BOTON CARGAR FOTO PERFIL NUEVA */
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    }
    
    /* ESTILO DEL INPUT*/
    .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    }

    /* ESTILO DEL BOTÓN */
    .boton-standar-rw{
    margin: 1rem;
    background-color: #fcfcfc;
    color: #6930C3;
    border-radius: 10px;
    font-weight: bold;
    line-height: 15px;
    border: 3px solid #6930C3;
    transition: all 0.3s ease 0s;
    width: 150px;
    height: 65px;
    padding: 15px;
    }

    /* ESTILO DEL BOTÓN CON HOVER DE MOUSE */
    .boton-standar-rw:hover{
      color: #fcfcfc;
      background-color: #6930C3;
    }

    .center {
      margin: 0 2rem;
    }


  /* //////////////////////////////////////////////////////////////////// */
  /* BUTTONS */
  .buttom-mod-container {
    position: relative;
    background-color: none;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 70%;
  }
  
  .btn-primary {
    margin: 1rem;
    background-color: #fcfcfc;
    color: #6930C3;
    border-radius: 10px;
    font-weight: bold;
    line-height: 15px;
    border: 3px solid #6930C3;
    transition: all 0.3s ease 0s;
    width: 12em;
    padding: 15px;
  }
  
  .btn-primary:hover {
    color: #fcfcfc;
      background-color: #6930C3;
  }