
* ::before ::after {
    margin: 0;
    box-sizing: border-box;
  }
  
  :root { 
    background-color: #fcfcfc;
  }
  
  body {
    background-color: #fcfcfc;
    font-family: 'Raleway', sans-serif;
  }

  .modal-dialog {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .modal-content {
    background-color:#6930C3;
    margin: 0 auto;
  }
  
  .modal-content .btn-close {
    background-color: none;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .modal-content .close-btn :hover {
    color: #31175a;
  }
  
  .modal-title {
    color: #fcfcfc;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }

  .text-ok {
    color: #fcfcfc;
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
  }

  