<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="pagenotfound">
        <div class="copy-container center-xy">
          <p>
            Error 500, Internal Server Error. 
          </p>
          <p> El servidor encontró una condición inesperada que impide completar la petición</p>
          <p>
            Intente luego nuevamente o haz click aquí abajo
          </p>
          <a href="/">Refresh</a>

          <span class="handle"></span>
      
        </div>
      </div>
</body>
</html>