<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/estiloRegEmp.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
  <title>Formulario para Empresa</title>
</head>

<body>
  <header th:insert="fragment/fragmentos :: headerNoLogin"></header>
  <div class="container py-5 mb-3" id="form1">
      <h2 class="text-center mb-5">Registrarme como empresa</h2>
      <form class="needs-validation" th:action="@{/}" method="POST" enctype="multipart/form-data">
        <div class="container" id="contenido1">
          <div class="row g-2">
            <div class="form-floating col-md-6">
              <input type="text" class="form-control" id="floatingNombre" name="nombre" placeholder="Nombre"
                th:value="${nombre}" required>
              <label for="floatingNombre">Nombre</label>
            </div>
            <div class="form-floating col-md-6">
              <input type="apellido" class="form-control" id="floatingApellido" name="apellido" placeholder="Apellido"
                th:value="${apellido}" required>
              <label for="floatingApellido">Apellido</label>
            </div>
          </div>
          <div class="form-floating mt-3 mb-3">
            <input type="email" class="form-control" id="floatingInput" name="mail" placeholder="name@example.com"
              th:value="${mail}" required>
            <label for="floatingInput">Correo Electronico</label>
          </div>
          <div class="form-floating col-md-12 mb-3">
            <input id="floatingTelefono" type="tel" name="telefono" class="form-control" placeholder="Telefono"
              th:value="${telefono}" required/>
            <label for="floatingTelefono" class="form-label">Telefono</label>
          </div>
          <div class="row g-2 mb-3">
            <div class="form-floating col-md-6">
              <input type="password" class="form-control" id="floatingPassword" name="clave" th:value="${clave}"
                placeholder="Clave" required>
              <label for="floatingPassword">Clave</label>
            </div>
            <div class="form-floating col-md-6">
              <input type="password" class="form-control" id="floatingPassword2" name="clave2" th:value="${clave2}"
                placeholder="Clave" required>
              <label for="floatingPassword2">Repetir Clave</label>
            </div>
          </div>
          <div class="row g-2">
            <div class="col-md-12 mb-2">
              <label for="archivo">Foto de perfil</label>
              <input type="file" class="form-control" name="archivo" />
            </div>
            <div class="form-floating col-md-12">
                <form th:action="@{/provincia/provincias}" method="get">
              <select  class="form-select" required >
                  
                <option selected disabled value="">Seleccione la Provincia</option>
                <option th:each="zona : ${provincias}" th:text="${zona.nombre}" th:value="${zona.id}"></option>
                
              </select>
                    </form>
              <label for="zona" class="form-label">Zona</label>
            </div>
          </div>
        </div>

        <div class="container" id="contenido2">
          <div class="row g-2">
            <h3>Datos de la Empresa</h3>
            <div class="form-floating col-md-12 mb-2">
              <input id="nombreEmpresa" type="text" name="nombreEmpresa" class="form-control"
                th:value="${nombreEmpresa}" placeholder="Nombre de la Empresa" required/>
              <label for="nombreEmpresa" class="form-label">Nombre de la Empresa</label>
            </div>
            <div class="form-floating col-md-12 mb-2">
              <input id="razonSocial" type="text" name="razonSocial" class="form-control" th:value="${razonSocial}"
                placeholder="Razón Social" required/>
              <label for="razonSocial" class="form-label">Razón Social</label>
            </div>
            <div class="form-floating col-md-12">
              <input id="cuilEmpresa" type="text" name="cuilEmpresa" class="form-control" th:value="${cuilEmpresa}"
                placeholder="Cuil de la Empresa" required/>
              <label for="cuilEmpresa" class="form-label">Cuit de la Empresa</label>
            </div>
          </div>
        </div>
        <div id="container1">
          <div id="btnForm">
            <button type="submit" class="btn btn-primary" onclick="pregunta()">CONFIRMAR REGISTRO</button><br>
            <button type="reset" class="btn btn-secondary mt-1">
              <a th:href="@{/}">Cancelar</a>
            </button>
          </div>
        </div>
      </form>
  </div>
  <footer th:replace="fragment/fragmentos :: footer"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <script src="animacion.js"></script>
</body>

</html>