<!DOCTYPE html>
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva carga</title>
</head>

<body>
    <header th:replace="fragment/fragmentos :: headerLoginEmp"></header>


    <form  th:action="@{/viaje/pedido}" method="POST" class="carga">
        <input type="hidden" name="idProveedor" th:value="${session.usuariosession.id}" />
        <div class="carga">
            <label for="rubro-choice">Rubro:</label>
            <input list="rubros" id="rubro-choice" name="rubro-choice" required="required" />
            <datalist id="rubros">
                <option value="Alimenticio">
                <option value="Construccion">
            </datalist>
        </div>
        <div class="carga">
            <label for="partida-choice">Lugar de salida:</label>
            <select name="origen" id="zona" class="form-select" required>
                            <option selected disable value="">Seleccione la provincia</option>
                            <option option th:each="provincia:${provincias}" th:value="${provincia.provincia}" th:text="${provincia.provincia}"></option>
                        </select>
        </div>
        <div class="carga">
            <label for="provincia" class="form-label">Lugar de Destino</label>
            <select name="destino" id="zona" class="form-select" required>
                            <option selected disable value="">Seleccione la provincia</option>
                            <option option th:each="provincia:${provincias}" th:value="${provincia.provincia}" th:text="${provincia.provincia}"></option>
                        </select>
                        
        </div>
        <div class="carga">
            <label for="kmRecorridos">Km Recorridos</label>
            <input type="number" id="peso" name="kmRecorridos" required="required">
        </div>
        <div class="carga">
            <label for="tipo-carga-choice">Tipo de carga:</label>
            <input list="tipo-carga" id="tipo-carga-choice" name="tipoCargas" required="required" />
            <datalist id="tipo-carga">
                <option value="arena">
                <option value="ripio">
                <option value="ladrillos">
                <option value="frio">
            </datalist>
        </div>
        <div class="carga">
            <label for="peso">Peso Total(KG)</label>
            <input type="number" id="peso" name="peso" required="required">
        </div>
        <input class="carga" type="submit" value="Crear Viaje">
    </form>

    <footer th:replace="fragment/fragmentos :: footer"></footer>
</body>

</html>