<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>prueba de persistencia camion</div>
        <form th:action="@{/}" method="post" enctype="multipart/form-data">
            <input type="text" name="pesoMaximo">
            <label name="pesoMaximo">pesoMaximo</label>
            <br>
            <textarea name="descripcion" rows="10" cols="40"></textarea>
            <br>
            <input type="text" name="modelo">
            <label name="modelo">modelo</label>
            <br>
            
            <input type="text" name="anio">
            <label name="anio">anio</label>
            <br>
            
            <input type="text" name="patente">
            <label name="patente">patente</label>
            <br>
            
            
            
            <input type="text" name="poliza">
            <label name="poliza">poliza</label>
            <br>
            
             
            <label for="fotos">fotos</label>
            <input type="file" name="fotos" multiple>
            <br>
            
        <input type="submit">
    </form>
    </body>
</html>
