<!DOCTYPE html>
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- PERFIL DE ESTILOS CSS DE BOOTSTRAP5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="stylesheet" th:href="@{../static/css/Footer.css}">
    <link th:href="@{/css/indexTransport.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/navEmpresa.css}" rel="stylesheet" type="text/css" />
    <!-- PERFIL DE ESTILO FONTAWESOME PARA LINKEAR ICONOS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- TIPOGRAFÍAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- LOGUITO EN PESTAÑA -->
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <title>Transportista</title>
</head>

<body>
    <header th:replace="fragment/fragmentos :: headerLoginTrans"></header>


    <div class="row" style="margin:3rem 3rem 3rem 3rem;">

        <div class="container">
            <div class="card-group mt-3">
                <!--SI NO HAY EMPRESAS CON VIAJES CARGADOS-->
                <div th:if="${comprobantes == null}">
                    <h3 class="textTitle" style="color:red; font-style: italic;">No hay empresas con viajes sin
                        postulantes activos</h3>
                </div>

                <div class="notnull" th:if="${comprobantes != null}">
                    <h3 class="textTitle"> Empresas que buscan transportistas </h3>
                    <p class="fav-text"> Busca el viaje que te interese y aplica </p>

                    <!--CUANDO HAY VIAJES CARGADOS SE MUESTRAN A CONTINUACION-->
                    <div class="mb-4" th:if="${comprobantes != null}" th:each="comprobantes,stat:${comprobantes}">

                        <div class="col mx-3">
                            <div class="card" style="width: 14rem;">
                                <div>
                                    <img id="imagen" th:if="${comprobantes.proveedor.foto != null}"
                                        th:src="@{'/foto/comprobante-imagenes/'+${comprobantes.ID}}"
                                        class="card-img-top" alt="Foto Empresa">
                                    <img id="imagen" th:if="${comprobantes.proveedor.foto == null}"
                                        th:src="@{../img/Foto sin foto.jpg}" class="card-img-top" alt="Foto Empresa">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-capitalize text-center"
                                        th:text="${comprobantes.proveedor}">
                                        Nombre empresa</h5>
                                    <div class="row my-1">
                                        <div class="col-2">
                                            <i class="fas fa-route"></i>
                                        </div>
                                        <div class="col-10">
                                            <p class="card-text" th:text="${comprobantes.viaje.origen}">Origen</p>
                                            <p class="card-text" th:text="${comprobantes.viaje.destino}">Destino</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="fas fa-road"></i>
                                        </div>
                                        <div class="col-10">
                                            <p class="card-text" th:text="${comprobantes.viaje.kmRecorridos} +' km'">km
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="fas fa-weight-hanging"></i>
                                        </div>
                                        <div class="col-10">
                                            <p class="card-text" th:text="${comprobantes.viaje.peso}">peso</p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-2">
                                            <i class="fas fa-clipboard-list"></i>
                                        </div>
                                        <div class="col-10">
                                            <p class="card-text" th:text="${comprobantes.viaje.tipoCargas}">Tipo</p>
                                        </div>
                                    </div>

                                    <a th:href="@{'/viaje/aplicar'+'?id_transportista='+${session.usuariosession.id}+'&id_viaje='+${comprobantes.ID}}"
                                        class="btn btn-primary btn-mas">Aplicar a viaje</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ESTO SE CONECTARIA CON LA BASE DE DATOS EN FUNCIÓN DE LOS MÁS CERCANOS A LA ZONA DE LA EMPRESA
    Y LA VALORACIÓN QUE TENGAN
    <section th:replace="fragment/fragmentos :: truckCardsTransp"></section>-->

            <!-- REAJUSTAR
    <div class="contenidoOculto">
        <a href="#" class="btn btn-primary">Ver más</a>
    </div>-->

            <footer th:replace="fragment/fragmentos :: footer"></footer>

            <!-- BUNDLE BOOTSTRAP5 -> PLUGGINS JS Y POPPER PARA FUNCIONALIDADES DINÁMICAS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
</body>

</html>