<!DOCTYPE html>
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/estilos.css}">
  <script src="https://kit.fontawesome.com/d8bd2a2ca3.js" crossorigin="anonymous"></script>
  <!-- PERFIL DE ESTILOS CSS DE BOOTSTRAP5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link th:href="@{/css/navEmpresa.css}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" th:href="@{/css/Footer.css}">
  <link rel="stylesheet" th:href="@{../static/css/Footer.css}">
  <link rel="stylesheet" th:href="@{/css/indexEmpresa.css}">

  <!-- PERFIL DE ESTILO FONTAWESOME PARA LINKEAR ICONOS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  <!-- TIPOGRAFÍAS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- LOGUITO EN PESTAÑA -->
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">

  <title>Empresa</title>
</head>


<body>
  <header th:replace="fragment/fragmentos :: headerLoginEmp"></header>

  <main class="favs-conteiner">
    <div class="row favs">

      <div class="container">
        
        <h3 class="textTitle"> Transportistas destacados por valoración y zona </h3>
        <p class="fav-text"> Descubrí todos los transportistas que existen cerca de tu ubicación y que se encuentran mejor puntuados por su desempeño dentro de la comunidad </p>
        <p th:if="${error != null}" th:text="${error}" style="color:red"></p>

        <div class="card-group-fav">

          <div th:if="${transportistas2!=null}" th:each="transportista,stat:${transportistas2}">
            <div class="col mx-5">
              <div class="card" style="width: 14rem;">
                <div class="container-fluid" id="main-content">
                  <div class="container">
                    <div class="row my-2">
                      <div class="col-2" th:if="${transportista.valoracion!=0}"
                        th:each="i: ${#numbers.sequence( transportista.valoracion, 1)}">
                        <i class="estrella fas fa-star"></i>
                      </div>
                      <div class="col-2" th:if="${transportista.valoracion<5}"
                        th:each="i: ${#numbers.sequence( transportista.valoracion, 4)}">
                        <i class="estrella2 far fa-star"></i>
                      </div>

                    </div>
                  </div>
                </div>
                <img id="imagen" th:if="${transportista.foto == null}"
                  src="../img/Foto sin foto.jpg"
                  class="card-img-top" alt="Foto perfil Transportista">
                <img id="imagen" th:if="${transportista.foto != null}"
                  th:src="${'/foto/usuario-imagen/'+transportista.id}" class="card-img-top"
                  alt="Foto perfil Transportista">
                <div class="card-body">
                  <div class="short">
                    <h5 class="card-title text-capitalize text-center ellipsis" th:text="${transportista.apellido} +', '+ ${transportista.nombre}">Nombre Apellido</h5>
                  </div>
                  
                <div class="row mb-1">
                  <div class="col-2">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="col-10">
                    <p class="card-text" th:text="${transportista.zona}">Zona</p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">
                    <i class="fas fa-truck"></i>
                  </div>
                  <div class="col-10">
                    <p class="card-text" th:text="${transportista.camion.modelo} +', '+ ${transportista.camion.anio}">
                      Modelo y año</p>
                  </div>
                </div>
                  <form
                    th:action="@{'/transportista/vermas?id_transportista='+${transportista.id}}"
                    method="post">
                    <button class="btn btn-primary btn-mas">Ver perfil</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </main>

  <section th:replace="fragment/fragmentosCards :: truckCards"></section>

  <!-- NO FUNCIONA /NO SE VE. REAJUSTAR-->
  <div class="cont-oculto">
    <a href="#" class="btn btn-primary btn-sm">Ver más</a>

  </div>

  <footer th:replace="fragment/fragmentos :: footer"></footer>

  <!-- BUNDLE BOOTSTRAP5 -> PLUGGINS JS Y POPPER PARA FUNCIONALIDADES DINÁMICAS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="/animacion.js"></script>
</body>

</html>