<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>prueba de persistencia viaje</div>
        <form th:action="@{/}" method="post" enctype="multipart/form-data">
            <input type="text" name="nombre">
            <label name="nombre">nombre</label>
            
            <input type="text" name="apellido">
            <label name="apellido">apellido</label>
            
            <input type="mail" name="mail">
            <label name="mail">mail</label>
            
            <input type="password" name="password">
            <label name="password">password</label>
            
            <input type="file" name="archivo">
            <label name="archivo">Imagen</label>
            
            
            <input type="text" name="zona">
            <label name="zona">zona</label>
            
            <input type="number" name="telefono">
            <label name="telefono">telefono</label>
            
            <input type="text" name="razonSocial">
            <label name="razonSocial">razonSocial</label>
            
            <input type="number" name="cuilEmpresa">
            <label name="cuilEmpresa">cuilEmpresa</label>
             
            <label for="foto">Foto</label>
            <input type="file" name="archivo">
            
            <input type="text" name="nombreEmpresa">
            <label name="nombreEmpresa">nombreEmpresa</label>
            
        <input type="submit">
    </form>
    </body>
</html>
