<!DOCTYPE html>
<html lang="en">
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado-Cargas</title>
</head>
<body>

    <table>

        <tr><th colspan="5"><h1>Viajes Registrados</h1></th></tr>
        <tr>
        
        <th>Partida</th>
        <th>Destino</th>
        <th>Tipo de carga</th>
        <th>Transportista</th>
        <th>Estado</th>

        </tr>
        <tr th:each="viaje,iterator:${viajes}">
            <td th:text="${viaje.origen}"></td>
            <td th:text="${viaje.destino}"></td>
            <td th:text="${viaje.tipoCargas}"> destino</td>
            <!--<td th:if="${viaje.transportistaAplicado != null}" th:text="${viaje.transportistaAplicado}"</td>-->
            <td>  
                 <button th:if="${viaje.transportistaAplicado != null}" th:text="${viaje.transportistaAplicado}"></button>
                 <button th:if="${viaje.transportistaAplicado == null}" th:text="Seleccionar"></button>
             </td>
            <!--<td> <img width='80' height='80' src='img/".$mostrar['imagen'] ?></td>-->
            <td> <!--th:text="${viaje.estado}"--> 
                <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" alt="mdo" width="52" height="52" class="rounded-circle">
                <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" alt="mdo" width="52" height="52" class="rounded-circle">
                <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" alt="mdo" width="52" height="52" class="rounded-circle">
            </td>
        </tr>
    </table>
</body>
</html>