<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado-Cargas</title>
</head>
<body>

    <table>

        <tr><th colspan="5"><h1>Viajes Registrados</h1></th></tr>
        <tr>
        
        <th>Partida</th>
        <th>Destino</th>
        <th>Tipo de carga</th>
        <th>Transportista</th>
        <th>Estado</th>

        </tr>
        <tr th:each="viaje,iterator:${viajes}">
            <td th:text="${viaje.origen}"></td>
            <td th:text="${viaje.destino}"></td>
            <td th:text="${viaje.tipoCargas}"> destino</td>
            <td> trasnportista</td>
            <!--<td> <img width='80' height='80' src='img/".$mostrar['imagen'] ?></td>-->
            <td> estado</td>
        </tr>
    </table>
</body>
</html>