<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section class="form">

                        <div>
                            <h1 class="titulo">Logueate!!</h1>
                        </div>
                        <form th:action="@{/logincheck}" method="POST">
                            <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                            <div class="form">
                                <div>
                                    <input th:value="${mail}"name="username"type="mail" placeholder="Correo Electronico" id="correo"
                                           aria-describedby="passwordHelpInline" class="input" required> <span class="barra"></span>


                                </div>

                                <div>
                                    <input th:value="${password}"name="password"type="password" placeholder="Contrasena" id="contrasena"
                                           aria-describedby="passwordHelpInline" class="input" required> <span class="barra"></span>


                                </div>
                                <input type="submit" class="input" name="Ingresar" placeholder="Ingresar">
                            </div>
                            <div>
                                <p class="p">No estas registrado? <a class="hilperv" style="
                                                                     color:#ffd6669f;
                                                                     " href="/registro">Registrate</a></p>

                            </div>


                        </form>

                    </section>
    </body>
</html>
