<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="#openModal">Lanzar el modal</a>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>REGISTRO EXITOSO!</h2>
		<p>Tus datos fueron registrados con éxito.
            Ingresa a tu email y verifica la cuenta
            para poder loguearte en nuestra web.</p>
        <button> OK </button>
</div>
</body>
</html>