<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="#openModal">Lanzar el modal</a>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>CANCELAR VIAJE</h2>
		<p>¿Estás seguro que deseas cancelar el viaje?</p>
        <button> SI</button>  <button>NO </button>
        
</div>
</body>
</html>