<!DOCTYPE html>
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link href="/css/nosotrosSty.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/nosotrosSty" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="stylesheet" th:href="@{../static/css/Footer.css}">
    <link rel="stylesheet" th:href="@{/css/NavGeneral.css}">
    <link rel="stylesheet" th:href="@{../static/css/NavGeneral.css}">

    <!-- TIPOGRAFÍAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- LOGUITO EN PESTAÑA -->
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">

    <title>Nosotros</title>

<body>
    <header th:insert="fragment/fragmentos :: headerNoLogin" class="Header"></header>

    <div class="container">
        <div class="cabezal">
            <h1 class="header-title">Acerca de nosotros</h1>
            <p class="form-subtitle">
                Somos un equipo de jóvenes profesionales, entusiastas y con una gran pasión por la tecnología y el
                desarrollo de aplicaciones que faciliten la interacción y la comunicación. Iniciamos como full stack
                developer y nos focalizamos sobre diferentes ramas buscando combinarnos de la mejor manera para
                llevar a cabo nuestra principal meta: ofrecer una plataforma que conecte a los productores y
                transportistas a lo largo de todo el país.
                Nuestro objetivo principal es trabajar para ofrecer a las empresas y a transportistas un espacio los
                vincule facilitando la comunicación entre ambos para la gestión y traslado de mercadería, materia
                prima y otros productos relacionados a la industria nacional.
            </p>
        </div>
    </div>

    <div class="contenido">
        <div class="row g-2">
            <div class="col-md-6">
                <table>
                    <thead>
                        <div class="cont-img"><img class="img-dev" src="../img/Foto sin foto.jpg"></div>
                        <h3 class="namer">SANTIAGO SALVATIERRA</h3>
                        <h4 class="proyect-position">BackEnd Developer</h4>
                    </thead>
                    <div class="b-description">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <thead>
                        <div class="cont-img"><img class="img-dev" src="../img/Sergio.jpg"></div>
                        <h3 class="namer">SERGIO REAL</h3>
                        <h4 class="proyect-position">BackEnd Developer</h4>
                    </thead>
                    <div class="b-description">
                        <p class="description">
                            Soy licenciado en Administración. Actualmente estoy focalizado a desarrollar y potenciar mis
                            habilidades BackEnd. Soy amante de los sout.
                        </p>
                    </div>
                </table>
            </div>
        </div>


        <div class="row g-2">
            <div class="col-md-6">
                <table>
                    <thead>
                        <div class="cont-img"><img class="img-dev" src="../img/Foto sin foto.jpg"></div>
                        <h3 class="namer">AXEL DE ROSA</h3>
                        <h4 class="proyect-position">BackEnd Developer</h4>
                    </thead>
                    <div class="b-description">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <thead>
                        <div class="cont-img"><img class="img-dev" src="../img/Foto sin foto.jpg"></div>
                        <h3 class="namer">EMANUEL ORTIZ</h3>
                        <h4 class="proyect-position">BackEnd Developer</h4>
                    </thead>
                    <div class="b-description">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </table>
            </div>
        </div>


        <div class="row g-2">
            <div class="col-md-6">
                <table>
                    <thead>
                        <div class="cont-img"><img class="img-dev" src="../img/Agustina.jpg"></div>
                        <h3 class="namer">AGUSTINA MEYER</h3>
                        <h4 class="proyect-position">FrontEnd Developer</h4>
                    </thead>
                    <div class="b-description">
                        <p class="description">
                            Me inicié en el camino del diseño y la comunicación visual. Actualmente estoy
                            focalizada en hilvanar estos conocimientos con el desarrollo FrontEnd. Eterna exploradora de
                            mundos.
                        </p>
                    </div>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <thead>
                        <div class="cont-img"><img class="img-dev" src="../img/Luis.jpg"></div>
                        <h3 class="namer">LUIS BARNABO</h3>
                        <h4 class="proyect-position">FrontEnd Developer</h4>
                    </thead>
                    <div class="b-description">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </table>
            </div>
        </div>


        <div class="row g-2 m-auto">
            <div class="col-md-6">
                <table>
                    <thead>
                        <div class="cont-img"><img class="img-dev" src="../img/Franco.jpg"></div>
                        <h3 class="namer">FRANCO BULLAUDE</h3>
                        <h4 class="proyect-position">FrontEnd Developer</h4>
                    </thead>
                    <div class="b-description">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <thead>
                        <div class="cont-img"><img class="img-dev" src="../img/Facundo.jpg"></div>
                        <h3 class="namer">FACUNDO PEREZ BOTTI</h3>
                        <h4 class="proyect-position">FrontEnd Developer</h4>
                    </thead>
                    <div class="b-description">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </table>
            </div>
        </div>
    </div>
    </div>


    <footer th:replace="fragment/fragmentos :: footer"></footer>
</body>

</html>