<!DOCTYPE html>
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="stylesheet" th:href="@{../static/css/Footer.css}">
    <link rel="stylesheet" href="/css/perfilEmpresa.css">
    <link rel="stylesheet" href="../static/css/perfilEmpresa.css">
    <link rel="stylesheet" th:href="@{/css/navEmpresa.css}">
    <link rel="stylesheet" th:href="@{../static/css/navEmpresa.css}">
  

    <!-- TIPOGRAFÍAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- LOGUITO EN PESTAÑA -->
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <title>Perfil empresario</title>
</head>

<body>
    <div class="body-plus">
        <header th:replace="fragment/fragmentos :: headerLoginEmp"></header>

        <main>
            <div class="container contenedor">

                <div class="container-img-perf">
                    <img th:if="${perfil.foto != null}" class="perfil-img-int"
                        th:src="${'/foto/usuario-imagen/' + perfil.id}" alt="" />
                    <img th:if="${perfil.foto == null}" class="perfil-img-int" src="../img/Foto sin foto.jpg" alt="" />
                </div>

                <form class="form" id="body" th:action="@{/proveedor/modificar-proveedor}" method="POST"
                    enctype="multipart/form-data" th:object="${perfil}">
                    <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                    <input type="hidden" name="id" th:value="${perfil.id}" />

                    <div class="usuario">
                        <div class="us-2">
                            <input type="text" class="form-control user" id="nombre" name="nombre"
                                th:value="${perfil.nombre}" />
                        </div>
                        <div class="us-2">
                            <input type="text" class="form-control user" id="apellido" name="apellido"
                                th:value="${perfil.apellido}" />
                        </div>
                    </div>

                    <div class="empresa-in">
                        <input class="form-control" type="text" id="nombreEmpresa" name="nombreEmpresa"
                            th:value="${perfil.nombreEmpresa}" />
                    </div>

                    <div class="datos-user">
                        <div class="row g-2">
                            <div class="col-md-6">
                                <select name="zona" id="zona" class="form-select" required>
                                    <option th:selected disable th:value="${perfil.zona}" th:text="${perfil.zona}">
                                    </option>
                                    <option option th:each="provincia:${provincias}" th:value="${provincia}"
                                        th:text="${provincia.provincia}"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select name="rubro" id="zona" class="form-select" required>
                                    <!--<option th:selected disable th:value="${rubro}" th:text="${rubro}"></option>-->
                                    <option option th:each="rubro:${rubros}" th:value="${rubro}" th:text="${rubro}"
                                        th:selected="${perfil.rubro != null && rubro == perfil.rubro}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md-6">
                                <input type="email" class="form-control form-control-lg" id="mail" name="mail"
                                    th:value="${perfil.mail}" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control form-control-lg" id="razonSocial"
                                    name="razonSocial" th:value="${perfil.razonSocial}" />
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md-6">
                                <input type="text" class="form-control form-control-lg" id="telefono" name="telefono"
                                    th:value="${perfil.telefono}" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control form-control-lg" id="cuilEmpresa"
                                    name="cuilEmpresa" th:value="${perfil.cuilEmpresa}" />
                            </div>
                        </div>
                    </div>


                    <div class="buttom-mod-container">
                        <div class="upload-btn-wrapper">
                            <label for="file" class="boton-standar-rw">Foto de perfil</label>
                            <input class="upload-file-buton" type="file">
                        </div>

                        <button type="button" class="btn btn-primary center" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Cambiar Contraseña</button>
                        <button class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>


                <!-- CAMBIO CONTRASEÑA -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                            <div class="modal-body" id="ing">
                                <div class="modal-title-h3" id="exampleModalLabel">Cambiar contraseña</div>
                                <div class="modal-subtitle">
                                    <p>Ingresa los datos correspondientes</p>
                                </div>
                                <form th:action="@{'/usuario/cambio-password?id='+${session.usuariosession.id}}"
                                    method="post">
                                    <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                                    <div class="form-group">
                                        <input type="hidden" name="claveVieja" readonly class="form-control-plaintext"
                                        id="password" th:value="${perfil.password}">
                                    </div>
                                    <div class="form-group">
                                        <input th:value="${password}" name="claveNueva" type="password"
                                            class="form-control" id="password" placeholder="Nueva clave">
                                    </div>
                                    <div class="form-group">
                                        <input th:value="${password2}" name="claveNueva1" type="password"
                                            class="form-control" id="password2" placeholder="Repita la nueva clave">
                                    </div>

                                    <button type="submit" class="btn btn-primary" id="confirm">Confirmar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <div class="btns-container">
        <div><a class="extra-btns" href="/" role="button">Registro de viajes</a></div>
        <div><a class="extra-btns" href="/" role="button">Nuevo viaje</a></div>

    </div>





    <footer th:replace="fragment/fragmentos :: footer" id="footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    <script src="animacion.js"></script>

    <script type="application/javascript">
        jQuery('input[type=file]').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            var idname = jQuery(this).attr('id');
            console.log(jQuery(this));
            console.log(filename);
            console.log(idname);
            jQuery('span.' + idname).next().find('span').html(filename);
        });
    </script>

</body>

</html>