<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/proveedor/registro}" method="post" enctype="multipart/form-data">
            
            <input type="text" name="nombre">
            <label name="nombre">nombre</label>
            <br>
            
            <input type="text" name="apellido">
            <label name="apellido">apellido</label>
            <br>
            
            <input type="mail" name="mail">
            <label name="mail">mail</label>
            <br>
            
            
            
            <input type="password" name="password">
            <label name="password">password</label>
            <br>
            
             
            <label for="fotos">foto</label>
            <input type="file" name="foto" >
            <br>
            
            <input type="text" name="zona">
            <label name="zona">zona</label>
            <br>
            
            <input type="text" name="telefono">
            <label name="telefono">telefono</label>
            <br>
            
            <input type="text" name="razonSocial">
            <label name="razonSocial">razonSocial</label>
            <br>
            
            <input type="text" name="cuilEmpresa">
            <label name="cuilEmpresa">cuilEmpresa</label>
            <br>
            <input type="text" name="nombreEmpresa">
            <label name="nombreEmpresa">nombreEmpresa</label>
            <br>
            
            
        <input type="submit">
    </form>
    </body>
</html>
