<!DOCTYPE html>
<html lang="ES-ar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link href="/css/servicios.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/servicios" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/Footer.css}">
    <link rel="stylesheet" th:href="@{../static/css/Footer.css}">
    <link rel="stylesheet" th:href="@{/css/NavGeneral.css}">
    <link rel="stylesheet" th:href="@{../static/css/NavGeneral.css}">

    <!-- TIPOGRAFÍAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- LOGUITO EN PESTAÑA -->
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">

    <title>Servicios</title>
</head>

<body>
    <header th:replace="fragment/fragmentos :: headerNoLogin"></header>


    <div class="container">
        <h2 class="header-title">Nuestros servicios</h2>
    </div>

    <div class="container services">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
            <div class="col card-card">
                <div class="card">
                    <div class="cont-img">
                    <img src="../img/conversation.png" class="card-img-top" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Conectamos</h5>
                        <p class="card-text">Empresarios y transportistas a lo largo del país,
                            unificando el sistema de transporte de mercaderías desde un solo lugar.</p>
                    </div>
                </div>
            </div>

            <div class="col card-card">
                <div class="card">
                    <div class="cont-img">
                    <img src="../img/global-distribution.png" class="card-img-top" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Movilizamos</h5>
                        <p class="card-text">La mercadería y productos que necesites transportar de un punto del país a
                            otro, asegurando su efectiva llegada a destino.</p>
                    </div>
                </div>
            </div>


            <div class="col card-card">
                <div class="card">
                    <div class="cont-img">
                    <img src="../img/checklist.png" class="card-img-top" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Registramos</h5>
                        <p class="card-text">Cada uno de los viaje ingresados y finalizados, brindandote un registro de
                            movimiento de tu mercadería y de los procesos para tu empresa.</p>
                    </div>
                </div>
            </div>


            <div class="col card-card">
                <div class="card">
                    <div class="cont-img">
                    <img src="../img/protection.png" class="card-img-top" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Aseguramos</h5>
                        <p class="card-text">Las transacciones que se lleven a cabo a través de un registro detallado de
                            viajes. Protegiendo tu trabajo y tu mercadería</p>
                    </div>
                </div>
            </div>


            <div class="col card-card">
                <div class="card">
                    <div class="cont-img">
                    <img src="../img/contract.png" class="card-img-top" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Contratamos</h5>
                        <p class="card-text">Servicios de transporte que deseen trabajar de forma autónoma y
                            busquen empresas con necesidades acordes a sus posibilidades.</p>
                    </div>
                </div>
            </div>


            <div class="col card-card">
                <div class="card">
                    <div class="cont-img">
                    <img src="../img/data-science.png" class="card-img-top" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title">Potenciamos</h5>
                        <p class="card-text">El sistema de relaciones del área de producción del país, ofreciendo un
                            servicio óptimo de logistica y traslado de mercadería</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragment/fragmentos :: footer"></footer>
</body>

</html>