<!--ACA EMPIEZA EL FRAGMENT NAV INDEX GENERAL-->
<header th:fragment="headerNoLogin" class="topheader">
  <div class="nav-container">
    <nav class="nav">
      <a th:href="@{/}" class="logo"><img src="../img/ManageTruck_logo-Blanco.png" class="logo"></a>

      <ul class="nav__items">
        <li class="nav__items"><a th:href="@{/nosotros}">NOSOTROS</a></li>
        <li class="nav__items"><a th:href="@{/servicios}">SERVICIOS</a></li>
        <li class="nav__items"><a th:href="@{/contacto}">ESCRIBINOS</a></li>
      </ul>
    </nav>
  </div>
</header>



<!--ACA EMPIEZA EL FRAGMENT NAV INDEX TRANSPORTISTA-->
<header th:fragment="headerLoginTrans">
  <nav class="topheader navbar">
    <div class="container-fluid">
      <!--DESDE ACA EL MENU OFFCANVAS-->
      <button class="btn btn-toolbar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img th:if="${session.usuariosession.foto == null}"
            src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
            alt="mdo" width="52" height="52" class="rounded-circle">
          <!-- FORMA EN MOSTRAR LA IMAGEN QUE TIENE EL USUARIO GUARDADA-->
          <img th:if="${session.usuariosession.foto != null}"
            th:src="${'/foto/usuario-imagen/'+session.usuariosession.id}" alt="mdo" width="52" height="52"
            class="rounded-circle">
        </a>
      </button>
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScrolling"
        aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <!--<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#my-offcanvas" aria-label="Close"></button>-->
          <div class="justify-content-center">
            <img th:if="${session.usuariosession.foto == null}"
              src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
              class="img-thumbnail rounded-circle col-auto" alt="Perfil" width="250" height="300">
            <img th:if="${session.usuariosession.foto != null}"
              th:src="${'/foto/usuario-imagen/'+session.usuariosession.id}"
              class="img-thumbnail rounded-circle col-auto" alt="Perfil" width="250" height="300">
          </div>
        </div>
        <div class="offcanvas-body">
          <div class="text-center">
            <ul class="nav flex-column">
              <li class="nav-item"><a class="buttom-mod-container btn btn-primary"
                  th:href="@{/transportista/perfil-transportista}+'?id='+${session.usuariosession.id}">PERFIL</a></li>
              <li class="nav-item"><a class="buttom-mod-container btn btn-primary"
                  th:href="@{../comprobante/listarComprobantes}">COMPROBANTES</a></li>
            </ul>
          </div>
          <div class="m-5">
            <h5>PROCESO DE PEDIDO</h5>
            <form th:action="@{/transportista/comunicar}+'?id='+${session.usuariosession.id}" method="POST">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1">
                <label class="form-check-label" for="exampleRadios1">
                  Carga recogida
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2">
                <label class="form-check-label" for="exampleRadios2">
                  En camino
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="3">
                <label class="form-check-label" for="exampleRadios3">
                  Carga entregada
                </label>
              </div>
              <input class="cargaButton" type="submit" th:value="Comunicar">
            </form>
          </div>
          <div class="m-5">
            <h5>ESTADO</h5>
            <div>
              <input type="checkbox" class="toggle" id="rounded">
              <label for="rounded" data-checked="Disponible" data-unchecked="Ocupado"></label>
            </div>
          </div>
          <div>
            <a class="" th:href="@{/logout}"><button class="btn btn-dark mt-3">CERRAR SESIÓN
              </button></a>
          </div>
        </div>
      </div>
      <!--HASTA ACA ES EL MENU OFFCANVAS-->
      <!--ACA EMPIEZAN LOS OTROS ELEMENTOS DEL NAV-->
      <a href="/" class="navbar-brand logo">
        <img src="../img/ManageTruck_logo-Blanco.png" class="img" width="200" height="52" alt="">
      </a>
      <form class="d-flex buscar">
        <input type="buscar" name="empresa" class="form-control me-2" placeholder="Buscar..." aria-label="Buscar">
        <button type="submit" class="btn btn-primary" style="width: 50px"><svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></button>
      </form>
      <div class="d-flex ">
        <a class="me-3" th:href="@{/logout}"><button class="btn btn-dark">SALIR</button></a>
      </div>
    </div>
  </nav>
</header>




<!--ACA EMPIEZA EL FRAGMENT NAV INDEX EMPRESA-->
<header th:fragment="headerLoginEmp">
  <nav class="topheader navbar">
    <div class="container-fluid">
      <!--DESDE ACA EL MENU OFFCANVAS-->
      <button class="btn btn-toolbar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img th:if="${session.usuariosession.foto == null}" src="/img/Foto sin foto.jpg" alt="mdo" width="52"
            height="52" class="rounded-circle">
          <!-- FORMA EN MOSTRAR LA IMAGEN QUE TIENE EL USUARIO GUARDADA-->
          <img th:if="${session.usuariosession.foto != null}"
            th:src="${'/foto/usuario-imagen/'+session.usuariosession.id}" alt="mdo" width="52" height="52"
            class="rounded-circle">
        </a>
      </button>
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScrolling"
        aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <!--<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#my-offcanvas" aria-label="Close"></button>-->
          <div class="justify-content-center">
            <img th:if="${session.usuariosession.foto == null}" src="../img/Foto sin foto.jpg"
              class="img-thumbnail rounded-circle col-auto" alt="Perfil" width="250" height="300">
            <img th:if="${session.usuariosession.foto != null}"
              th:src="${'/foto/usuario-imagen/'+session.usuariosession.id}"
              class="img-thumbnail rounded-circle col-auto" alt="Perfil" width="250" height="300">
          </div>
        </div>
        <div class="offcanvas-body">
          <div class="">
            <ul class="nav flex-column align-content-center">
              <li class="nav-item"><a class="buttom-mod-container btn btn-primary"
                  th:href="@{/proveedor/perfil-proveedor}+'?id='+${session.usuariosession.id}">PERFIL</a></li>
              <li class="nav-item"><a class="buttom-mod-container btn btn-primary"
                  th:href="@{/viaje/listar-viajes}+'?id='+${session.usuariosession.id}">REGISTRO DE VIAJES</a></li>
              <li class="nav-item"><a class="buttom-mod-container btn btn-primary" th:href="@{/viaje/pedido}">NUEVA
                  CARGA</a></li>
            </ul>
          </div>
          <div>
            <a class="buttom-mod-container" th:href="@{/logout}"><button class="btn btn-dark mt-5">CERRAR
                SESIÓN</button></a>
          </div>
        </div>
      </div>
      <!--HASTA ACA ES EL MENU OFFCANVAS-->
      <!--ACA EMPIEZAN LOS OTROS ELEMENTOS DEL NAV-->
      <a th:href="@{/inicio}" class="navbar-brand logo">
        <img src="../img/ManageTruck_logo-Blanco.png" class="img" width="200" height="52" alt="">
      </a>
      <form class="d-flex buscar">
        <input type="buscar" class="form-control me-2" name="nombre" placeholder="Buscar..." aria-label="Buscar">
        <button type="submit" class="btn btn-primary" style="width: 50px"><svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></button>
      </form>
      <div class="d-flex ">
        <a class="me-3" th:href="@{/logout}"><button class="btn btn-dark">SALIR</button></a>
      </div>
    </div>
  </nav>
</header>


<!--ACA EMPIEZA EL FOOTER-->
<footer th:fragment="footer" class="footer-body">
  <div class="container">
    <div class="row text-body">
      <p>Contactanos > <img src="/img/Contacto_Whatsapp.png" class="whatsapp"> 261-5157680 <img
          src="/img/Contacto_Email.png" class="email"> consultas@managetruck.com</p>
    </div>

    <div class="row">
      <div class="img-logo"></div>
      <div class="col">
        <p class="permiss">&copy; 2022 ManageTruck. All rights reserved.</p>
      </div>
      <div class="col text-end">
        <a href="https://es-la.facebook.com/" target="blank"><img src="../img/Redes_Facebook.png" class="facebook"></a>
        <a href="https://www.instagram.com/" target="blank"><img src="../img/Redes_Instagram.png" class="instagram">
          <a href="https://twitter.com/?lang=es" target="blank"><img src="../img/Redes_Twitter.png" class="twitter"></a>
      </div>
    </div>
  </div>
</footer>