<!-- CARDS Index Empresa -->
<section th:fragment="truckCards" style="margin: 0rem 8rem 2rem; padding: 0rem 4rem 2rem 4rem;">

  <div class="row mx-5" style="margin: 2rem 2rem 2rem;">

    <!-- TARJETA 1 SECUNDARIA
  Deberian conectarse todos los datos con la base de datos según usuario-->
    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>
  </div>


  <!-- TARJETA 2 SECUNDARIA
  Deberian conectarse todos los datos con la base de datos según usuario-->
  <div class="row mx-5" style="margin: 2rem 2rem 2rem;">
    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>
  </div>

  <!-- TARJETA 3 SECUNDARIA
  Deberian conectarse todos los datos con la base de datos según usuario-->
  <div class="row mx-5" style="margin: 2rem 2rem 2rem;">
    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>
  </div>

</section>


<!-- CARDS Index Transportista -->
<section th:fragment="truckCardsTransp" style="margin: 0rem 8rem 2rem; padding: 0rem 4rem 2rem 4rem;">

  <div class="row mx-5" style="margin: 2rem 2rem 2rem;">

    <!-- TARJETA 1 SECUNDARIA
  Deberian conectarse todos los datos con la base de datos según usuario-->
    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>
  </div>


  <!-- TARJETA 2 SECUNDARIA
  Deberian conectarse todos los datos con la base de datos según usuario-->
  <div class="row mx-5" style="margin: 2rem 2rem 2rem;">
    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>
  </div>

  <!-- TARJETA 3 SECUNDARIA
  Deberian conectarse todos los datos con la base de datos según usuario-->
  <div class="row mx-5" style="margin: 2rem 2rem 2rem;">
    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>

    <div class="col mx-3">
      <div class="card" style="width: 13rem;">
        <div class="stars">
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="1">
            <label for="radio1" class="fas fa-star"></label>
            <input id="radio2" type="radio" name="estrellas" value="2">
            <label for="radio2" class="fas fa-star"></label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label for="radio3" class="fas fa-star"></label>
            <input id="radio4" type="radio" name="estrellas" value="4">
            <label for="radio4" class="fas fa-star"></label>
            <input id="radio5" type="radio" name="estrellas" value="5">
            <label for="radio5" class="fas fa-star"></label>
          </p>
        </div>
        <img src="../static/img/Foto sin foto.jpg" class="card-img-top" alt="Foto perfil Transportista">
        <div class="card-body">
          <h5 class="card-title">Nombre Apellido</h5>
          <p class="card-text">Zona</p>
          <p class="card-text">Marca/Modelo/Año</p>
          <p class="card-text">Carga máxima en kg</p>
          <a href="#" class="btn btn-primary btn-sm">Conocer más</a>
        </div>
      </div>
    </div>
  </div>

</section>