<!--ACA EMPIEZA EL FRAGMENT NAV INDEX GENERAL-->
<header th:fragment="headerNoLogin" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom navbar navbar-dark bg-dark">
  <a href="/" class="d-flex mb-3 mb-md-0 me-md-auto col-md-4">
    <img src="../img/ManageTruck_logo-Blanco.png" class="img h-25 w-25" alt="">
  </a>

  <ul class="nav nav-pills col-md-4">
    <li class="nav-item"><a th:href="@{/nosotros}" class="nav-link">NOSOTROS</a></li>
    <li class="nav-item"><a th:href="@{/servicios}" class="nav-link">SERVICIOS</a></li>
    <li class="nav-item"><a th:href="@{/contacto}" class="nav-link">CONTACTO</a></li>
  </ul>

  <div class="col-md-4 text-end">
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>

<!--ACA EMPIEZA EL FRAGMENT NAV INDEX TRANSPORTISTA-->
<header th:fragment="headerLoginTrans" class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <!--DESDE ACA EL MENU OFFCANVAS-->
    <button class="btn btn-toolbar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
        data-bs-toggle="dropdown" aria-expanded="false">
          <img th:if="${session.usuariosession.foto == null}" src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" alt="mdo" width="52" height="52" class="rounded-circle">
        <!-- FORMA EN MOSTRAR LA IMAGEN QUE TIENE EL USUARIO GUARDADA-->
         <img th:if="${session.usuariosession.foto != null}" th:src="${'/foto/usuario-imagen/'+session.usuariosession.id}" alt="mdo" width="52" height="52" class="rounded-circle">
        <!--<img src="https://github.com/mdo.png" alt="mdo" width="52" height="52" class="rounded-circle">-->
      </a>
    </button>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScrolling"
      aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <!--<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#my-offcanvas" aria-label="Close"></button>-->
        <div class="justify-content-center">
           <img
              th:if="${session.usuariosession.foto == null}"
            src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
            class="img-thumbnail rounded-circle col-auto" alt="Perfil" width="250" height="300">
          <img
              th:if="${session.usuariosession.foto != null}"
            th:src="${'/foto/usuario-imagen/'+session.usuariosession.id}"
            class="img-thumbnail rounded-circle col-auto" alt="Perfil" width="250" height="300">
          <!--<img
            src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
            class="img-thumbnail rounded-circle col-auto" alt="Perfil" width="250" height="300">-->
        </div>
      </div>
      <div class="offcanvas-body">
        <div class="buttom-mod-container">
          <ul class="nav flex-column">
            <li class="nav-item"><a class="btn btn-primary" th:href="@{/transportista/perfil-transportista}+'?id='+${session.usuariosession.id}">PERFIL</a></li>
            <li class="nav-item"><a class="btn btn-primary" th:href="@{comprobante/listarComprobantes}">COMPROBANTES</a></li>
          </ul>
        </div>
        <div class="m-5">
          <h5>PROCESO DE PEDIDO</h5>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Carga recogida
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              En camino
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Carga entregada
            </label>
          </div>
        </div>
        <div class="m-5">
          <h5>ESTADO</h5>
          <div>
            <input type="checkbox" class="toggle" id="rounded">
            <label for="rounded" data-checked="Disponible" data-unchecked="Ocupado"></label>
        </div>
        </div>
        <div>
          <a class="" th:href="@{/logout}"><button class="btn btn-dark mt-3">CERRAR SESIÓN
          </button></a>
        </div>
      </div>
    </div>
    <!--HASTA ACA ES EL MENU OFFCANVAS-->
    <div class="d-flex align-items-end">
      <form class="w-100 me-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </div>
</header>


<!--ACA EMPIEZA EL FRAGMENT NAV INDEX EMPRESA-->
<header th:fragment="headerLoginEmp" class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <!--DESDE ACA EL MENU OFFCANVAS-->
    <button class="btn btn-toolbar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img th:if="${session.usuariosession.foto == null}" src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" alt="mdo" width="52" height="52" class="rounded-circle">
        <!-- FORMA EN MOSTRAR LA IMAGEN QUE TIENE EL USUARIO GUARDADA-->
         <img th:if="${session.usuariosession.foto != null}" th:src="${'/foto/usuario-imagen/'+session.usuariosession.id}" alt="mdo" width="52" height="52" class="rounded-circle">
      </a>
    </button>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScrolling"
      aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <!--<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#my-offcanvas" aria-label="Close"></button>-->
        <div class="justify-content-center">
          <img
              th:if="${session.usuariosession.foto == null}"
            src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
            class="img-thumbnail rounded-circle col-auto" alt="Perfil" width="250" height="300">
          <img
              th:if="${session.usuariosession.foto != null}"
            th:src="${'/foto/usuario-imagen/'+session.usuariosession.id}"
            class="img-thumbnail rounded-circle col-auto" alt="Perfil" width="250" height="300">
        </div>
      </div>
      <div class="offcanvas-body">
        <div class="text-center">
          <ul class="nav flex-column">
            <li class="nav-item"><a class="btn btn-primary" th:href="@{/proveedor/perfil-proveedor}+'?id='+${session.usuariosession.id}">PERFIL</a></li>
            <li class="nav-item"><a class="btn btn-primary" th:href="@{/viaje/listar-viajes}+'?id='+${session.usuariosession.id}">REGISTRO DE VIAJES</a></li>
            <li class="nav-item"><a class="btn btn-primary" th:href="@{/viaje/pedido}">NUEVA CARGA</a></li>
          </ul>
        </div>
        <div>
          <a class="" th:href="@{/logout}"><button class="btn btn-dark mt-3">CERRAR SESIÓN
          </button></a>
        </div>
      </div>
    </div>
    <!--HASTA ACA ES EL MENU OFFCANVAS-->
    <div class="d-flex align-items-end">
      <form class="w-100 me-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </div>
</header>


<!--ACA EMPIEZA EL FOOTER-->
<footer th:fragment="footer" class="footer-body">
  <div class="container">
    <div class="row text-body">
      <p>Contactanos > <img src="/img/Contacto_Whatsapp.png" class="whatsapp"> 261-5157680 <img src="/img/Contacto_Email.png" class="email"> consultas@managetruck.com</p>
    </div>

    <div class="row">
      <div class="img-logo"></div>
      <div class="col">
        <p class="permiss">&copy; 2022 ManageTruck. All rights reserved.</p>
      </div>
      <div class="col text-end">
        <a href="https://es-la.facebook.com/" target="blank"><img src="../img/Redes_Facebook.png" class="facebook"></a>
        <a href="https://www.instagram.com/" target="blank"><img src="../img/Redes_Instagram.png" class="instagram">
        <a href="https://twitter.com/?lang=es" target="blank"><img src="../img/Redes_Twitter.png" class="twitter"></a>
      </div>
    </div>
  </div>
</footer>